.Card {
  background: rgb(26, 26, 77);
  width: 160px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 2px 4px 5px black;
}

.Card__Img {
  max-width: 100%;
  height: 210px;
  margin-top: 10px;
  border-radius: 10px;
}

.Card__Description {
  width: 90%;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card__Description h4 {
  font-size: 15px;
}

.Card__Description p {
  font-size: 13px;
}
